{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class = "text-center mt-2"> All movies: </h1>
    <div class="row my-5">
    
        {% for film in films %}
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          
                <div class="card-body">
                    <h5 class="card-title">Name: {{film.name}}</h5>
                    <p class="card-text">Description {{film.description}}</p>
                    <p class="card-text">Producer: {{film.producer}} </p>
                    <p class="card-text">Author: {{film.userId.username}} </p>
                    
                    <small> Release Date: {{film.createdAt | date('d/m/Y') }} à {{film.createdAt | date('H:i') }} </small>
                    
                  

                    <a href="{{ path('showFilm', {id:film.id}) }}" class="btn btn-primary">Check more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
